[submodule "hxcollision"]
	path = Libs/hxcollision
	url = https://github.com/underscorediscovery/hxcollision.git
[submodule "hx-yaml"]
	path = Libs/hx-yaml
	url = https://github.com/mikestead/hx-yaml.git
[submodule "Kha"]
	path = Kha
	url = ../Kha
	branch = master

