[submodule "Kha"]
	path = Kha
	url = ../Kha
	branch = master
[submodule "Libs/hx-yaml"]
	path = Libs/hx-yaml
	url = https://github.com/mikestead/hx-yaml.git
[submodule "Libs/hxcollision"]
	path = Libs/hxcollision
	url = https://github.com/underscorediscovery/hxcollision.git
[submodule "Libs/compiletime"]
	path = Libs/compiletime
	url = https://github.com/jasononeil/compiletime.git
